## apply standardization and normalisation on tips.csv dataset

In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\tips.csv")

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.shape

(244, 7)

In [12]:
x = df.drop(columns = ['size'], axis = 1) ### Independent columns 
y = df['size'] #####Target column

In [22]:
print(x.shape)
print(y.shape)

(244, 6)
(244,)
     total_bill   tip     sex smoker   day    time
0         16.99  1.01  Female     No   Sun  Dinner
1         10.34  1.66    Male     No   Sun  Dinner
2         21.01  3.50    Male     No   Sun  Dinner
3         23.68  3.31    Male     No   Sun  Dinner
4         24.59  3.61  Female     No   Sun  Dinner
..          ...   ...     ...    ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner
240       27.18  2.00  Female    Yes   Sat  Dinner
241       22.67  2.00    Male    Yes   Sat  Dinner
242       17.82  1.75    Male     No   Sat  Dinner
243       18.78  3.00  Female     No  Thur  Dinner

[244 rows x 6 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [25]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(195, 6)
(49, 6)
(195,)
(49,)

In [26]:
# Standardization ====> Data Mean = 0, Stadard deviation = 1

In [27]:
np.round(x_train.describe(), 3)

       total_bill      tip
count     195.000  195.000
mean       20.218    3.088
std         8.771    1.429
min         5.750    1.000
25%        13.660    2.000
50%        17.920    3.000
75%        24.855    3.695
max        50.810   10.000

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [28]:
x_train_sc = sc.fit_transform(x_train) 
x_train_new = pd.DataFrame (x_train_sc, columns = x_train.columns)
x_train_new.head(3)

ValueError: could not convert string to float: 'Male'

In [29]:
np.round(x_train_new.describe(), 1)

NameError: name 'x_train_new' is not defined

In [30]:
df = pd.read_csv("C:\\Users\\deepak\\Summer Intership and Training\\Machine_Learning\\Assignment_2\\insurance.csv")

In [31]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [32]:
df = df.drop(columns = ['sex', 'smoker', 'region'])

In [33]:
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [51]:
x= df.drop(columns = ['charges'], axis = 1) #### Independent data 
y= df['charges'] #### Target data

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)
print(df.shape)
print(x.shape)
print(x_train.shape)
print(x_test.shape)
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(1338, 4)
(1338, 3)
(1070, 3)
(268, 3)
(1338,)
(1070,)
(268,)

In [54]:
np.round(x_train.describe(),1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [55]:
from sklearn.preprocessing import StandardScaler

In [56]:
sc = StandardScaler()

In [57]:
x_train_sc = sc.fit_transform(x_train)

In [58]:
np.round(x_train.describe(),1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [60]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)

# Normalization = min = 0, max = 1

In [65]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()
x_train_mn = mn.fit_transform(x_train)
x_train_new = pd. DataFrame(x_train_mn, columns = x_train.columns)
np.round(x_train.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [66]:
np.round(x_train_new.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean      0.5     0.4       0.2
std       0.3     0.2       0.2
min       0.0     0.0       0.0
25%       0.2     0.3       0.0
50%       0.5     0.4       0.2
75%       0.7     0.5       0.4
max       1.0     1.0       1.0