In [31]:
#pattern making
for i in range(1,6):
    for j in range(i,5):
        print('$',end='')
    for k in range(1,i+1):
        print('*',end='')
    print()

$$$$*
$$$**
$$***
$****
*****

In [33]:
#while loop
i=1
while(i<5):
    print("hello",i)
    i+=1

hello 1
hello 2
hello 3
hello 4

In [92]:
#data structure
#list tuple dictionary set
#list : collection of element, whichh has index position
#- mutable datatype
#- ordered collection of element

mylist = [10,20,'deepak']
print(type(mylist))

<class 'list'>

In [47]:
print(mylist[0:10])

[1000, 20, 'deepak']

In [48]:
mylist[0]=1000

In [52]:
mylist.append(6)

In [55]:
mylist[:]

[1000, 20, 'deepak', 6, 6, 6, 'h', 'e', 'y']

In [56]:
mylist.extend("hey")

In [61]:
mylist.extend(["hey", 99])

In [84]:
mylist.pop()
mylist.pop(2)

6

In [89]:
mylist.remove('deepak')

ValueError: list.remove(x): x not in list

In [90]:
del mylist[0]

In [91]:
mylist[:]

[20]

In [106]:
#check if element is of integer type then square it apend it in new list
mylist = [10,20,300,'hey',11.3]
new = []
for i in mylist:
    if (type(i) is int):
        new.append(i)
print(new)

[10, 20, 300]

In [112]:
#Armstrong
ans=0
num = 153
x1=num%10
num=num//10

x2=num%10
num=num//10

x3=num%10
num=num//10

print(x1**3 + x2**3 + x3**3)

153

In [118]:
original=int(input("Enter a number : "))
num=original

total=0
while(num>0):
    rem=num%10
    total+=rem**3
    num=num//10
if(total == original):
    print("armstrong")
else:
    print("not")

Enter a number : 152
not

In [ ]:
#homework

#take input from user let day =10
# in first week intial amount is 1 then 2 then 3 and upto 7 for a week
# in second week intial amount is 2 then 3 then 4 and upto 8 for this week

day =10
amt=0

In [119]:
#Tuple

In [ ]:
#when to use 
- in case of email phone or any data
- which not need to be change

In [124]:
mytuple1=10,10
type(mytuple)
mytuple2=(10,10)
type(mytuple2)

tuple

In [128]:
mytuple=mytuple+(60,70)
print(mytuple)

(10, 10, 60, 70, 60, 70, 60, 70)

In [ ]:
#Dictionary

In [ ]:
#collection of element in key:value form
#key: identifier
#value: data

In [142]:
dic = {1:"deepak",2:"deepak"}
print(dic[1])
#add
dic[3]='himanshu'
print(dic)
#del
dic.pop(3)
print(dic)

deepak
{1: 'deepak', 2: 'deepak', 3: 'himanshu'}
{1: 'deepak', 2: 'deepak'}

In [144]:
#make key pair for each char of "hello"
string = "hello"
my_d = {}
for i in string:
    my_d[i]=1
print(my_d)

{'h': 1, 'e': 1, 'l': 1, 'o': 1}

In [159]:
mydic3 = {1:'deepak',1:'jalaj'}
print(1 in mydic3)

True

In [162]:
string= 'hey deepak hello'
new={}
count=0
for char in string:
    if(char in 'aeiou'):
        if char not in new:
            new[char]=1
        else:
            new[char]=new[char]+1

print(new)

{'e': 4, 'a': 1, 'o': 1}